<style media="screen">
  .flash {
    color: red;
  }
</style>




<h4><%=@idea.content%> - <a href="/users/<%=@idea.user.slug%>"><%=@idea.user.username%></a></h4>


<br><br>

<h5>Category</h5>

<a href="/categories/<%=@idea.category.id%>"><%=@idea.category.name%></a>
<br>


<a href="/ideas/<%=@idea.id%>/edit">Edit Idea</a>

<br>
<div class="flash">
<%if flash[:notice]%>
  <%=flash[:notice]%>
  <% end %>
</div>
<br>
<form action="/ideas/<%=@idea.id%>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">

  <input type="submit" value="Delete Idea">
</form>

<a href="/ideas/<%=idea.id%>"><%=idea.content%></a>

<ul class=" col-sm-8 list-group-item flex-column align-items-start active bg-light text-primary">

<div class="d-flex w-100 justify-content-between">
  <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

  <small><a href="/ideas/<%=idea.id%>/edit">edit</a></small>
</div>
</ul>
