
<h4><%=@idea.content%> - <a href="/users/<%=@idea.user.slug%>"><%=@idea.user.username%></a></h4>


<br><br>

<h5>Category</h5>

<a href="/categories/<%=@idea.category.id%>"><%=@idea.category.name%></a>
<br>

<a href="/ideas/<%=@idea.id%>/edit">Edit Idea</a>
<br>

<form class="" action="ideas/<%=@idea.id%>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">

  <input type="submit" value="Delete Idea">
</form>
