
<h4><%=@idea.content%> - <%=@idea.user.username%></h4>
<a href="/users/<%=@idea.user.slug%>"></a>

<br><br>

<h5>Category</h5>

<a href="/categories/<%=@idea.category.id%>"><%=@idea.category.name%></a>
