

<h3 class="card-header text-center bg-light">Viewing Idea</h3>
<br><br>

<%if flash[:notice]%>
  <div class="alert alert-danger mb-0" role="alert">
    <strong><%=flash[:notice]%></strong>
  </div>
<% end %>





<div class="card col-sm-8 bg-light ml-auto mr-auto">

  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <div class="d-flex w-100 justify-content-between">
        <p class="mb-1"><%=@idea.content%></p>


        <div class="btn-group" role="group" aria-label="Basic example">
          <a class="btn btn-outline-warning mr-1"href="/ideas/<%=@idea.id%>/edit">Edit Idea</a>
          <form action="/ideas/<%=@idea.id%>/delete" method="post">
            <input type="hidden" id="hidden" name="_method" value="delete">

            <input type="submit" class="btn btn-outline-danger" value="Delete Idea">
          </form>
        </div>

      </div>
      <div class="row">
        <a href="/users/<%=@idea.user.slug%>" class="list-group-item-action bg-light col-sm-3">
          <footer class="blockquote-footer mr-4">Owner: <%=@idea.user.username%></footer>
        </a>
        <%if !!@idea.category%>
        <a href="/categories/<%=@idea.category.id%>" class="list-group-item-action bg-light col-sm-4">
          <footer class="blockquote-footer">Category: <%=@idea.category.name%></footer>
        <% else %>
          <footer class="blockquote-footer">Category: NONE</footer>
        <% end %>
        </a>
      </div>
    </blockquote>
  </div>
</div>
