<h3 class="card-header text-center bg-light"><%=@user.username%>'s Ideas</h3>
<br><br>


<%@user.ideas.reverse.each do |idea|%>

<div class="card col-sm-8 bg-light ml-auto mr-auto mb-3">

  <div class="card-body">
    <blockquote class="blockquote mb-0">
        <a href="/ideas/<%=idea.id%>" class="card-link"><%=idea.content%></a>

      <div class="row mt-1">
        <a href="/users/<%=idea.user.slug%>" class="list-group-item-action bg-light col-sm-3">
          <footer class="blockquote-footer mr-4">Owner: <%=@user.username%></footer>
        </a>
        <%if !!idea.category%>
        <a href="/categories/<%=idea.category.id%>" class="list-group-item-action bg-light col-sm-3">
          <footer class="blockquote-footer">Category: <%=idea.category.name%></footer>
        <% else %>
        <footer class="blockquote-footer">Category: NONE</footer>

        <% end %>
        </a>
      </div>
    </blockquote>
  </div>
</div>
<% end %>
