
<h2>Choose your desired Categories</h2>

<form class="" action="/categories" method="post">


  <%Category.all.each do |category|%>
    <input type="checkbox" name="categories[]" value="<%=category.name%>" id="<%=category.name%>"><%=category.name%></input>
    <br>
  <% end %>
  <br>
  <label for="">or add a new Category</label>
  <br>
  <input type="text" name="categories[]" id="categories" placeholder="New Category">
  <br><br>

    <h4>Click on related Items</h4>

    <%Item.all.each do |item|%>
      <input type="checkbox" name="items[]" value="<%=item.name%>" id="<%=item.name%>"><%=item.name%></input>
    <% end %>
    <br><br>
    <label for="">Or add a new Item</label>
    <br>
    <input type="text" name="items[]" placeholder="New Item">
    <br><br>

  <input type="submit" value="submit">

</form>
